{% extends "base.html" %}
{% load static %}


{% block title %}Home - ImageBot{% endblock %}
{% block styles %}<link rel="stylesheet" href="{%static 'css/home.css'%}">{% endblock %}
{% block content %}
<div class="hero text-center py-5 bg-light">
    <h1 class="display-4">WELCOME TO IMAGE CHATBOT</h1>
    <p class="lead">Your Visual Question Answering System</p>
</div>

<div class="container py-5">
    <h2 class="text-center mb-4">Upload Your Image</h2>
    <form method="POST" action="{% url 'process' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group text-center">
            <input type="file" name="uploaded_image" class="form-control-file" accept="image/*" required>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Process Image</button>
        </div>
    </form>
</div>
{% endblock %}
